// Navigation code here

.top{
    width: 100%;
    .display();
    flex-direction: column;
    .position();
    margin: 1% auto;
    background-color: @porcelain;
    position: fixed;
    top: 0;
    
}

h1{
    font-size: 3rem;
    margin: 0 0 5% 35%;
}

nav a{
    text-decoration: none;
    color: @ebony-clay;
    margin: 5% 0 5% 14%;
    font-size: 1.5rem;
}

img{
    margin: 9% 0 0 20%;
}